<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="image-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1> Recipe Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">Manage Reciepe <span class="caret"> </span></button>
            <ul class="dropdown-menue">
                <li><a href="#">Add item in shopping list</a></li>
                <li><a href="#">Edit list</a></li>
                <li><a href="#">Delete Recipe</a></li>
            </ul>
            
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        INgredients
    </div>
</div>
